img {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.error {
  text-align: center;
}

.cat-info {
  display: flex;
  gap: 20px;
  padding: 15px;
  max-width: 1000px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.image {
  max-width: calc((100% - 20px) / 2);
  height: 100%;
}

.temperament-title {
  font-weight: 700;
}

.loader-wrapper {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 50px;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #6498ff;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
